<div class="text-center">
    <h1 class="display-4 main__add">Adding an department</h1>
    <div class="container">
        <div class="row">
            <div class="col-10">
                 <%= form_with url: department_path, model: @department do |form| %>
                    <div class="row mb-3">
                        <%= form.label :name, class: "col-form-label col-sm-6" %>
                        <div class="col-sm-6">
                            <%= form.text_field :name, class: "form-control" %>
                        </div>
                    </div>
                     <div class="row mb-3">
                        <%= form.label :floor, class: "col-form-label col-sm-6" %>
                        <div class="col-sm-6">
                            <%= form.number_field :floor, class: "form-control" %>
                        </div>
                    </div>
                    <div class="mb-3">
                        <%= form.submit "Add", class: "btn btn-success" %>
                        <%= link_to "Cancel", root_path, role: "button", class: "btn btn-danger" %>
                    </div>
                <% end %>
            </div> 
        </div>
    </div>
</div>