
<div class="text-center">
    <h1 class="display-4 .main__list">A list of employees</h1>
    <div class="mb-3">
         <%= link_to "Add", add_path, role: "button", class: "btn btn-success" %>
         <%= link_to "Add department", department_path, role: "button", class: "btn btn-success" %>
         <%= link_to "Add language", language_path, role: "button", class: "btn btn-success" %>
    </div>

 <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Department</th>
                <th>Language</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @employee_places.find_each do |employee_place| %> 
                <tr id=<%= employee_place.id %> >
                    <td><%= employee_place.employee.name %> </td>
                    <td><%= employee_place.employee.surname %></td>
                    <td><%= employee_place.employee.age %></td>
                    <td><%= employee_place.department.name %></td>
                    <td><%= employee_place.programming_language.name %></td>
                    <td>
                        <%= link_to "Change", edit_path(:id => employee_place.id), role: "button", class: "btn btn-info" %>
                        <input name=<%= employee_place.id %> onclick="DeleteEmployeePlace(this)" type="button" class="btn btn-danger delete" value="Delete" />
                    </td>
                </tr>
            <% end %>
        <tbody>
    </table>
</div>

<script>
    function DeleteEmployeePlace(e) {
        $.ajax({
            type: "DELETE",
            data: {id: e.name},
            url: '/delete',
            contentType: 'application/x-www-form-urlencoded',
            success: function(data)
            {
                console.log("success");
                document.getElementById(e.name).remove();
            }
        });
    }
</script>